@model GiftStoreMVC.Models.GiftstoreUser

@{
    Layout = "~/Views/Shared/_MainDashboardLayout.cshtml";
}

<div class="page-wrapper">
    <div class="page-container">
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div>
                    <h4>GiftstoreUser</h4>
                    <hr />
                    <dl class="row">
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Username)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Username)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Password)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Password)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Approvalstatus)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Approvalstatus)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Phonenumber)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Phonenumber)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Imagepath)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Imagepath)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Profits)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Profits)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Category)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Category.Categoryid)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Role)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Role.Roleid)
                        </dd>
                    </dl>
                </div>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model?.Userid">Edit</a> |
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>

