@model CategoryGift

@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Shared/_SenderLayout.cshtml";
    var b = true;
    dynamic l = Model.Category;
    if (Model.Category == null)
    {
        l = Model.Gift;
        b = false;
    }
    int count = 1;
}
<style>
    body{
        overflow-x: hidden;
    }

</style>


<div class="page-heading products-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>New categories</h4>
                    <h2>GIFTOPIA Categories <em style="color:#f33f3f">&</em> Gifts</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="products">
    <div class="container">
        <form asp-action="Categories">
            <div class="row" >
                <div class="input-group" style="justify-content:center;text-align:center;">
                    <input type="text" class="input" id="GiftName" name="GiftName" placeholder="#Watches,Glasses...etc" autocomplete="off">
                    <input style="background-color:#f33f3f" class="button--submit" value="Search" type="submit">
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-12">
                <div class="filters">
                    @*<ul>
                        <li class="active" data-filter="*">All Products</li>
                        <li data-filter=".des">Featured</li>
                        <li data-filter=".dev">Flash Deals</li>
                        <li data-filter=".gra">Last Minute</li>
                    </ul>*@
                </div>
            </div>
            <div class="col-md-12">
                <div class="filters-content">
                    <div class="row grid">
                        @foreach(var item in l)
                        {
                            <div class="col-lg-4 col-md-4 all des">
                                <div class="product-item" style="width:350px;">
                                    @if(b)
                                    {
                                        <a asp-action="GetGiftsByCategoryId" asp-route-Categoryid="@item.Categoryid">
                                            <img src="@Url.Content("~/CategoriesImages/"+item.Imagepath)" style="width:350px;height:200px;">
                                        </a>
                                        <div class="down-content">
                                            <a href="#"><h4>@item.Categoryname</h4></a>
                                            <h6>NO.@(count++)</h6>
                                            <p>@item.Categorydescription</p>
                                            <ul class="stars">
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                            <span>Reviews (12)</span>
                                        </div>
                                    }
                                    else
                                    {
                                        <a href="#"><img src="@Url.Content("~/GiftsImages/"+item.Imagepath)" alt=""></a>
                                        <div class="down-content">
                                            <a href="#"><h4>@item.Giftname</h4></a>
                                            <h6>$@item.Giftprice</h6>
                                            <p>@item.Giftdescription</p>
                                            <ul class="stars">
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                                <li><i class="fa fa-star"></i></li>
                                            </ul>
                                            <span>Reviews (12)</span>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

