
@{
    Layout = null;
    decimal? id = (decimal) ViewData["RoleId"];
    var username = ViewData["Username"];
}

<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="au theme template">
        <meta name="author" content="Hau Nguyen">
        <meta name="keywords" content="au theme template">

        <!-- Title Page-->
        <title>Dashboard</title>

        <!-- Fontfaces CSS-->
        <link href="~/AdminAssets/css/font-face.css" rel="stylesheet" media="all">
        <link href="~/AdminAssets/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
        <link href="~/AdminAssets/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
        <link href="~/AdminAssets/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

        <!-- Bootstrap CSS-->
        <link href="~/AdminAssets/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

        <!-- Vendor CSS-->
        <link href="~/AdminAssets/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
        <link href="~/AdminAssets/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
        <link href="~/AdminAssets/vendor/wow/animate.css" rel="stylesheet" media="all">
        <link href="~/AdminAssets/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
        <link href="~/AdminAssets/vendor/slick/slick.css" rel="stylesheet" media="all">
        <link href="~/AdminAssets/vendor/select2/select2.min.css" rel="stylesheet" media="all">
        <link href="~/AdminAssets/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

        <!-- Main CSS-->
        <link href="~/AdminAssets/css/theme.css" rel="stylesheet" media="all">


        <link href="~/GiftAssets/card.css" rel="stylesheet" media="all">

        <!-- Icons font CSS-->
        <link href="~/LoginForm/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
        <link href="~/LoginForm/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
        <!-- Font special for pages-->
        <link href="~/LoginForm/https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

        <!-- Vendor CSS-->
        <link href="~/LoginForm/vendor/select2/select2.min.css" rel="stylesheet" media="all">
        <link href="~/LoginForm/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

        <!-- Main CSS-->
        <link href="~/LoginForm/css/main.css" rel="stylesheet" media="all">

        <link href="~/LoginForm/css/profileimage.css" rel="stylesheet" media="all">



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        body{
            overflow-x: hidden;
        }
    </style>


    </head>

    <body>

    <!-- HEADER MOBILE-->
    <header class="header-mobile d-block d-lg-none">
        <div class="header-mobile__bar">
            <div class="container-fluid">
                <div class="header-mobile-inner">
                    <a class="logo" href="~/AdminAssets/index.html">
                        <img src="~/AdminAssets/images/icon/logo.png" alt="CoolAdmin" />
                    </a>
                    <button class="hamburger hamburger--slider" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <nav class="navbar-mobile">
            <div class="container-fluid">
                <ul class="navbar-mobile__list list-unstyled">
                    <li class="active has-sub">
                        <a class="js-arrow" asp-controller="Admin" asp-action="Index">
                            <i class="fas fa-tachometer-alt"></i>Dashboard
                        </a>
                    </li>
                    @if (id == 3)
                    {
                        <li>
                            <a asp-controller="Admin" asp-action="Index">
                                <i class="fa-solid fa-person-chalkboard"></i>Makers
                            </a>
                        </li>
                    }
                    @if (id == 1)
                    {
                        <li>
                            <a asp-controller="Categories" asp-action="Index">
                                <i class="fas fa-table"></i>Gategories
                            </a>
                        </li>
                    }
                    <li>
                        <a href="~/AdminAssets/form.html">
                            <i class="fa-solid fa-gift"></i>Gifts
                        </a>
                    </li>
                    <li>
                        <a href="~/AdminAssets/form.html">
                            <i class="fa-solid fa-bell"></i>Notification
                        </a>
                    </li>
                    @if (id == 1)
                    {
                        <li>
                            <a href="~/AdminAssets/calendar.html">
                                <i class="fa-solid fa-user"></i>Users
                            </a>
                        </li>
                    }
                    <li>
                        <a href="~/AdminAssets/map.html">
                            <i class="fa-solid fa-money-bill-trend-up"></i>Profits
                        </a>
                    </li>
                    @if (id == 1)
                    {
                        <li class="has-sub">
                            <a class="js-arrow" asp-controller="Admin" asp-action="Reportes">
                                <i class="fa-solid fa-file"></i>Reports
                            </a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="~/AdminAssets/#">
                                <i class="fas fa-desktop"></i>Manage pages
                            </a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="~/AdminAssets/#">
                                <i class="fa-solid fa-ban"></i>Ban/Unban users
                            </a>
                        </li>
                    }

                </ul>
            </div>
        </nav>
    </header>
    <!-- END HEADER MOBILE-->
    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar d-none d-lg-block">
        <div class="logo">
            <a href="~/AdminAssets/#">
                <img src="~/AdminAssets/images/icon/logo.png" alt="Cool Admin" />
            </a>
        </div>
        <div class="menu-sidebar__content js-scrollbar1">
            <nav class="navbar-sidebar">
                <ul class="list-unstyled navbar__list">
                    <li class="has-sub">
                        <a asp-controller="Admin" asp-action="Index">
                            <i class="fas fa-tachometer-alt"></i>Dashboard
                        </a>
                    </li>
                    @if (id == 3)
                    {
                        <li>
                            <a asp-controller="Admin" asp-action="Index">
                                <i class="fa-solid fa-person-chalkboard"></i>Makers
                            </a>
                        </li>
                    }
                    @if (id == 1)
                    {
                        <li>
                            <a asp-controller="Categories" asp-action="Index">
                                <i class="fas fa-table"></i>Add categories
                            </a>
                        </li>

                        <li>
                            <a asp-controller="Admin" asp-action="AllCategories">
                                <i class="fa-solid fa-gift"></i>Categories
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Admin" asp-action="Notification">
                                <i class="fa-solid fa-bell"></i>Notification
                            </a>
                        </li>
                    }
                    @if (id == 2)
                    {
                        <li>
                            <a asp-controller="Maker" asp-action="MyGifts">
                                <i class="fa-solid fa-gift"></i>My gifts
                            </a>
                        </li>

                        <li>
                            <a asp-controller="Maker" asp-action="Gifts">
                                <i class="fa-solid fa-gift"></i>Add gifts
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Maker" asp-action="Notification">
                                <i class="fa-solid fa-bell"></i>Notification
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Maker" asp-action="SenderRequest">
                                <i class="fa-solid fa-bell"></i>Sender Request
                            </a>
                        </li>
                    }
                    @if (id == 1)
                    {
                        <li>
                            <a asp-controller="Users" asp-action="Index">
                                <i class="fa-solid fa-user"></i>Users
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Admin" asp-action="Profits">
                                <i class="fa-solid fa-money-bill-trend-up"></i>Profits
                            </a>
                        </li>
                    }
                    @if (id == 2)
                    {
                        <li>
                            <a asp-controller="Maker" asp-action="Profits">
                                <i class="fa-solid fa-money-bill-trend-up"></i>Profits
                            </a>
                        </li>
                    }
                    @if (id == 1)
                    {
                        <li class="has-sub">
                            <a asp-controller="Admin" asp-action="Reportes">
                                <i class="fa-solid fa-file"></i>Reports
                            </a>
                        </li>
                        <li class="has-sub">
                            <a href="~/AdminAssets/#">
                                <i class="fas fa-desktop"></i>Manage pages
                            </a>
                        </li>
                        <li class="has-sub">
                            <a href="~/AdminAssets/#">
                                <i class="fa-solid fa-ban"></i>Ban/Unban users
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </aside>
    <!-- END MENU SIDEBAR-->

    <header class="header-desktop">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="header-wrap">
                    <form class="form-header" action="" method="POST">
                        <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for datas &amp; reports..." />
                        <button class="au-btn--submit" type="submit">
                            <i class="zmdi zmdi-search"></i>
                        </button>
                    </form>
                    <div class="header-button">
                        <div class="noti-wrap">
                            <div class="noti__item js-item-menu">
                                <i class="zmdi zmdi-comment-more"></i>
                                <span class="quantity">1</span>
                                <div class="mess-dropdown js-dropdown">
                                    <div class="mess__title">
                                        <p>You have 2 news message</p>
                                    </div>
                                    <div class="mess__item">
                                        <div class="image img-cir img-40">
                                            <img src="~/AdminAssets/images/icon/avatar-06.jpg" alt="Michelle Moreno" />
                                        </div>
                                        <div class="content">
                                            <h6>Michelle Moreno</h6>
                                            <p>Have sent a photo</p>
                                            <span class="time">3 min ago</span>
                                        </div>
                                    </div>
                                    <div class="mess__item">
                                        <div class="image img-cir img-40">
                                            <img src="~/AdminAssets/images/icon/avatar-04.jpg" alt="Diane Myers" />
                                        </div>
                                        <div class="content">
                                            <h6>Diane Myers</h6>
                                            <p>You are now connected on message</p>
                                            <span class="time">Yesterday</span>
                                        </div>
                                    </div>
                                    <div class="mess__footer">
                                        <a href="~/AdminAssets/#">View all messages</a>
                                    </div>
                                </div>
                            </div>
                            <div class="noti__item js-item-menu">
                                <i class="zmdi zmdi-email"></i>
                                <span class="quantity">1</span>
                                <div class="email-dropdown js-dropdown">
                                    <div class="email__title">
                                        <p>You have 3 New Emails</p>
                                    </div>
                                    <div class="email__item">
                                        <div class="image img-cir img-40">
                                            <img src="~/AdminAssets/images/icon/avatar-06.jpg" alt="Cynthia Harvey" />
                                        </div>
                                        <div class="content">
                                            <p>Meeting about new dashboard...</p>
                                            <span>Cynthia Harvey, 3 min ago</span>
                                        </div>
                                    </div>
                                    <div class="email__item">
                                        <div class="image img-cir img-40">
                                            <img src="~/AdminAssets/images/icon/avatar-05.jpg" alt="Cynthia Harvey" />
                                        </div>
                                        <div class="content">
                                            <p>Meeting about new dashboard...</p>
                                            <span>Cynthia Harvey, Yesterday</span>
                                        </div>
                                    </div>
                                    <div class="email__item">
                                        <div class="image img-cir img-40">
                                            <img src="~/AdminAssets/images/icon/avatar-04.jpg" alt="Cynthia Harvey" />
                                        </div>
                                        <div class="content">
                                            <p>Meeting about new dashboard...</p>
                                            <span>Cynthia Harvey, April 12,,2018</span>
                                        </div>
                                    </div>
                                    <div class="email__footer">
                                        <a href="~/AdminAssets/#">See all emails</a>
                                    </div>
                                </div>
                            </div>
                            <div class="noti__item js-item-menu">
                                <i class="zmdi zmdi-notifications"></i>
                                <span class="quantity">3</span>
                                <div class="notifi-dropdown js-dropdown">
                                    <div class="notifi__title">
                                        <p>You have 3 Notifications</p>
                                    </div>
                                    <div class="notifi__item">
                                        <div class="bg-c1 img-cir img-40">
                                            <i class="zmdi zmdi-email-open"></i>
                                        </div>
                                        <div class="content">
                                            <p>You got a email notification</p>
                                            <span class="date">April 12, 2018 06:50</span>
                                        </div>
                                    </div>
                                    <div class="notifi__item">
                                        <div class="bg-c2 img-cir img-40">
                                            <i class="zmdi zmdi-account-box"></i>
                                        </div>
                                        <div class="content">
                                            <p>Your account has been blocked</p>
                                            <span class="date">April 12, 2018 06:50</span>
                                        </div>
                                    </div>
                                    <div class="notifi__item">
                                        <div class="bg-c3 img-cir img-40">
                                            <i class="zmdi zmdi-file-text"></i>
                                        </div>
                                        <div class="content">
                                            <p>You got a new file</p>
                                            <span class="date">April 12, 2018 06:50</span>
                                        </div>
                                    </div>
                                    <div class="notifi__footer">
                                        <a href="~/AdminAssets/#">All notifications</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="account-wrap">
                            <div class="account-item clearfix js-item-menu">
                                <div class="image">
                                    <img src="@Url.Content($"~/UsersImages/{ViewData["ImagePath"]}")" />
                                </div>
                                <div class="content">
                                    <a class="js-acc-btn" href="#">@ViewData["Username"]</a>
                                </div>
                                <div class="account-dropdown js-dropdown">
                                    <div class="info clearfix">
                                        <div class="image">
                                            <a href="#">
                                                <img src="@Url.Content($"~/UsersImages/{ViewData["ImagePath"]}")" />
                                            </a>
                                        </div>
                                        <div class="content">
                                            <h5 class="name">
                                                <a href="#">@ViewData["Name"]</a>
                                            </h5>
                                            <span class="email">@ViewData["Email"]</span>
                                        </div>
                                    </div>
                                    <div class="account-dropdown__body">
                                        <div class="account-dropdown__item">
                                            <a asp-controller="Users" asp-action="Profile">
                                                <i class="zmdi zmdi-account"></i>Profile
                                            </a>
                                        </div>
                                    </div>
                                    <div class="account-dropdown__footer">
                                        <a asp-controller="Users" asp-action="Logout">
                                            <i class="zmdi zmdi-power"></i>Logout
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div>
        @RenderBody()
    </div>

        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p>Copyright © 2023 GiftOpia. All rights reserved. Template by <a href="#">GiftOpia</a>.</p>
                </div>
            </div>
        </div>


        <!-- Jquery JS-->
        <script src="~/AdminAssets/vendor/jquery-3.2.1.min.js"></script>
        <!-- Bootstrap JS-->
        <script src="~/AdminAssets/vendor/bootstrap-4.1/popper.min.js"></script>
        <script src="~/AdminAssets/vendor/bootstrap-4.1/bootstrap.min.js"></script>
        <!-- Vendor JS       -->
        <script src="~/AdminAssets/vendor/slick/slick.min.js">
        </script>
        <script src="~/AdminAssets/vendor/wow/wow.min.js"></script>
        <script src="~/AdminAssets/vendor/animsition/animsition.min.js"></script>
        <script src="~/AdminAssets/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
        </script>
        <script src="~/AdminAssets/vendor/counter-up/jquery.waypoints.min.js"></script>
        <script src="~/AdminAssets/vendor/counter-up/jquery.counterup.min.js">
        </script>
        <script src="~/AdminAssets/vendor/circle-progress/circle-progress.min.js"></script>
        <script src="~/AdminAssets/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
        <script src="~/AdminAssets/vendor/chartjs/Chart.bundle.min.js"></script>
        <script src="~/AdminAssets/vendor/select2/select2.min.js">
        </script>

        <!-- Main JS-->
        <script src="~/AdminAssets/js/main.js"></script>


    <!-- Jquery JS-->
    <script src="~/LoginForm/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="~/LoginForm/vendor/select2/select2.min.js"></script>
    <script src="~/LoginForm/vendor/datepicker/moment.min.js"></script>
    <script src="~/LoginForm/vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="~/LoginForm/js/global.js"></script>

    <script src="~/LoginForm/js/hidecategoryinput.js"></script>

    <script src="~/LoginForm/js/profileimage.js"></script>

    </body>

</html>
<!-- end document-->
