@model IEnumerable<GiftStoreMVC.Models.GiftstoreOrder>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Orderdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orderstatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipientaddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arrivaldate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Finalprice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Orderdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orderstatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recipientaddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arrivaldate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Finalprice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Orderid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Orderid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Orderid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
