@model IEnumerable<GiftstoreSenderrequest>

@{
    ViewData["Title"] = "Notification";
    Layout = "~/Views/Shared/_MainDashboardLayout.cshtml";
}

<div class="page-wrapper">
    <div class="page-container">
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="row m-t-30">
                    <div class="col-md-12">
                        <!-- DATA TABLE-->
                        <form asp-action="SenderRequest">
                            <div class="table-responsive m-b-40">
                                <table class="table table-borderless table-data3">
                                    <thead>
                                        <tr>
                                            <th>Sender name</th>
                                            <th>Recipient name</th>
                                            <th>Recipient address</th>
                                            <th>Gift name</th>
                                            <th>Request status</th>
                                            <th>Request date</th>
                                            <th>Acceptation</th>
                                            <th>Note</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.Sendername</td>
                                                <td>@item.Recipientname</td>
                                                <td>@item.Recipientaddress</td>
                                                <td>@item.Giftname</td>
                                                <td class="process">@item.Requeststatus</td>
                                                <td>@item.Requestdate</td>
                                                <td>
                                                    <div class="table-data-feature">
                                                        <input type="hidden" name="Senderid" value="@item.Senderid" />
                                                        <input type="hidden" name="Requestid" value="@item.Requestid" />
                                                        <button type="submit" name="action" value="Accepted" class="item" style="background-color:limegreen;" data-toggle="tooltip" data-placement="top" title="" data-original-title="Accept">
                                                            <i class="fa-solid fa-check" style="color:#fff;"></i>
                                                        </button>
                                                        <button type="submit" name="action" value="Rejected" class="item" style="background-color:red;" data-toggle="tooltip" data-placement="top" title="" data-original-title="Reject">
                                                            <i class="fa-solid fa-xmark" style="color:#fff;"></i>
                                                        </button>
                                                        <button class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove">
                                                            <i class="zmdi zmdi-delete"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                                <td>
                                                    <input type="text" name="Note" placeholder="Note..." />
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </form>
                        <!-- END DATA TABLE-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

