@model IEnumerable<GiftStoreMVC.Models.GiftstoreCategory>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainDashboardLayout.cshtml";
}

<div class="page-wrapper">
    <div class="page-container">
        <div class="main-content">
            <div class="section__content section__content--p30">
            <h1>Index</h1>
            <p>
                <a asp-action="Create" class="btn btn-primary">Create New</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Category name
                            @*@Html.DisplayNameFor(model => model.Categoryname)*@
                        </th>
                        <th>
                            Image
                            @*@Html.DisplayNameFor(model => model.Imagepath)*@
                        </th>
                        <th>
                                Category description
                            @*@Html.DisplayNameFor(model => model.Categorydescription)*@
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Categoryname)
                        </td>
                        <td>
                            <img src="@Url.Content("~/CategoriesImages/"+item.Imagepath)" style="width:120px;height:70px;border-radius:10px;"></img>
                            @*@Html.DisplayFor(modelItem => item.Imagepath)*@
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Categorydescription)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Categoryid" class="btn btn-primary">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.Categoryid" class="btn btn-primary">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.Categoryid" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
            }
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>

